<div th:fragment="footer">
    
  <div class="heading_container sponsors">
            <a>Proudly Sponsored By</a>
        </div>
    <footer class="sponsors_container">
        <ul>
            <li>
                <a href="">
                    <img src="img/swiss.png" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/grow.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/ftbic.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="">
                    <img src="img/ewb.png" alt="">
                </a>
            </li>
        </ul>
    </footer>
</div>

