<div id="popup_container"  th:fragment="popup">
    <!-- <button onclick="hideBox();">
        hey
    </button> -->
  
    <!-- <button onclick="hideBox();">
        hey
    </button> -->
    <section class="wrapper">
            <div class="content_container">
                    <header>
                      <!-- <a>
                          Hello please fill up the form first for us to serve you better
                      </a> -->
                    </header>
                    <!-- <img src="/img/new.png" alt=""> -->
                    <div>
                        <!-- <p class="tagline">
                            Connect to Business opportunities
                        </p> -->
                    </div>
                </div>

                <div class="form_container">
                    <header>
                        <a>Complete To Proceed</a>
                    </header>
                    <form action="">
                        <table>
                        <tr>
                            <td  class="table_colm">
                                <label for="">
                                    District
                                </label>
                            </td>
                            <td class="table_colm">
                                <select name="" id="" required>
                                    <option value="">
                                        Kibaale
                                    </option>
                                    <option value="">
                                        Bundibugyo
                                    </option>
                                    <option value="">
                                        Masaka
                                    </option>
                                   
                                   
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">
                                    Gender
                                </label>
                            </td>
                            <td>
                                <select name="" id="" required>
                                    <option value="">
                                        Female
                                    </option>
                                    <option value="">
                                        Male
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="table_colm">
                               <label for="">
                                   Iam a
                               </label>
                            </td>
                            <td class="table_colm">
                                <select name="" id="" required>
                                    <option value="">
                                        Select occupation
                                    </option>
                                    <option value="">
                                        Farmer
                                    </option>
                                    <option value="">
                                        Plumber
                                    </option>
                                    <option value="">
                                        Business Owner
                                    </option>
                                    <option value="">
                                        Doctor
                                    </option>
                                    <option value="">
                                        Carpenter
                                    </option>
                                    <option value="">
                                        Teacher
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">
                                    Interests
                                </label>
                            </td>
                            <td>
                                <select name="" id="" required>
                                    <option value="">
                                        Diary farming
                                    </option>
                                    <option value="">
                                        Marketing and Sales
                                    </option>
                                    <option value="">
                                        food processing
                                    </option>
                                    <option value="">
                                        coffee farming
                                    </option>
                                    <option value="">
                                        hoticulture
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="table_colm">
                                <label for="">
                                    country
                                </label>
                            </td>
                            <td class="table_colm">
                                <select name="" id="" required>
                                    <option value="">
                                        ....
                                    </option>
                                    <option value="">
                                        UGANDA
                                    </option>
                                   
                                </select>
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                        
                        </table>
                        <div class="button_container">
                                <button onclick="hideBox();">
                                        Done
                                </button>
                        </div>
                        
                       
                    </form>
                </div>
    </section>
    

    
</div>