<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
        <head>
                <meta charset="utf-8">
                <!--Form title-->
                <title>Events Registration</title>
                <link type="text/css" th:href="@{/css/index.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/css/w3css.css}" rel="stylesheet"/>
  <link type="text/css" th:href="@{/css/sweetalert2.min.css}" rel="stylesheet"></link>  
    <script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
            </head>
            <body>
            <!-- Include header -->
 <th:block th:include="/fragment/header"></th:block>
 
 
 <br>
 <div ><h1 class="w3-red">ATTENTION ! Error You Cannot Perform the Action</h1></div>
 <br>
 <div ><h2 class="w3-red">See ERROR</h2></div>
 <div th:text="${result}"></div>
            <th:block th:include="/fragment/_footer"></th:block>
      
 </body>
</html>