<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
        <head>
                <meta charset="utf-8">
                <!--Form title-->
                <title>Events Registration</title>
                <link type="text/css" th:href="@{/css/index.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/css/w3css.css}" rel="stylesheet"/>
  <link type="text/css" th:href="@{/css/sweetalert2.min.css}" rel="stylesheet"></link>  
    <script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
            </head>
            <body>
              
                    <!--NavBar-->

<!-- Include header -->
 <th:block th:include="/fragment/header"></th:block>


                <!--Create  a Form -->
                 
                     <!-- <h4 class="w3-label w3-text-blue">Student Registration Form</h4> -->
                       <!--  <fieldset class="w3-container w3-padding-64">  -->
            <div  class="w3-container w3-padding-64 w3-card-4" >
              <header class="w3-container w3-black  w3-opacity">
  <h3>Events Here</h3>
  <a class="w3-green w3-btn" th:href="@{/events/evts}">See Events List</a>
</header>
                <!-- <h2 class="w3-text-blue"> Please Log In</h2>
                 -->
                
                <form action="#" th:action="@{/events/}" th:object="${events}" method="post">
                
                        <h3 id="error"></h3>
                       <label class="w3-label w3-text-blue">Event Name</label> 
                       <input type="text" class="w3-input w3-hover-border-teal"  th:field="*{event_name}" placeholder="e.g Farming Seminar" id="name" > 
                     <label class="w3-label w3-text-blue">Facilitator</label> 
                       <input type="text" class="w3-input  w3-hover-border-teal"  th:field="*{facilitator}" placeholder="e.g Mr John Kabuye"  id="std_id"  >
                     <label class="w3-label w3-text-blue">Fee</label>   
             <input type="number" class="w3-input  w3-hover-border-teal"  th:field="*{fee}" placeholder="e.g 150000"  id="std_id"  >
         
         <label class="w3-label w3-text-blue">Contact</label>   
             <input type="number" class="w3-input  w3-hover-border-teal"  th:field="*{contact}" placeholder="e.g  0752-678-900"  id="std_id"  >
         
                        <label class="w3-label w3-text-blue">Location</label> 
                         <input type="text" class="w3-input w3-hover-border-teal"  th:field="*{location}" placeholder="e.g Masaka"  id="std_id"  >
         
                                <label class="w3-label w3-text-blue">Start Date</label>
                         <!--  --> <input type="date" class="w3-input  w3-hover-border-teal" th:field="*{start_date}" placeholder="e.g 12/June/2019" id="contact"/>
                          
              <label class="w3-label w3-text-blue">Topic</label> 
                         <input type="text" class="w3-input w3-hover-border-teal"  th:field="*{topic}" placeholder="e.g Business"  id="std_id"  >
                      
                      <label class="w3-label w3-text-blue">Upload Banner</label> 
                         <input type="file" class="w3-input w3-hover-border-teal"  th:field="*{image}" placeholder="e.g Business"  id="std_id"  >
                      
               
                   <p> 
                               
                        <input type="submit"  class="w3-btn w3-ripple w3-green" id="submit_event" value="Save Events  Data" onclick="success()"> 
                      </p> 
                </form>
 
                  </div>
             
  
      <th:block th:include="/fragment/_footer"></th:block>
      
 </body>
</html>