<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
        <head>
                <meta charset="utf-8">
                <!--Form title-->
                <title>Funding Opportunities</title>
                <link type="text/css" th:href="@{/css/index.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/css/w3css.css}" rel="stylesheet"/>
  <link type="text/css" th:href="@{/css/sweetalert2.min.css}" rel="stylesheet"></link>  
    <script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
            </head>
            <body>
              
                    <!--NavBar-->

<!-- Include header -->
 <th:block th:include="/fragment/header"></th:block>


                <!--Create  a Form -->
                 
                     <!-- <h4 class="w3-label w3-text-blue">Student Registration Form</h4> -->
                       <!--  <fieldset class="w3-container w3-padding-64">  -->
            <div  class="w3-container w3-padding-64 w3-card-4" >
              <header class="w3-container w3-black  w3-opacity">
  <h3>Please Register Funding Opportunities Here</h3>
</header>
                <!-- <h2 class="w3-text-blue"> Please Log In</h2>
                 -->
                
                <form action="#" th:action="@{/funds/}" th:object="${funds}" method="post">
                
                        <h3 id="error"></h3>
                       <label class="w3-label w3-text-blue">Funder</label> 
                       <input type="text" class="w3-input w3-border"  th:field="*{funder}"  id="funder" >
                     <label class="w3-label w3-text-blue">Location</label> 
                       <input type="text" class="w3-input w3-border"  th:field="*{location}" placeholder="e.g Kampala"  id="location">
                     
                     <label class="w3-label w3-text-blue">Organisation</label>   
             <input type="text" class="w3-input w3-border"  th:field="*{organisation}" placeholder="e.g Mr .."  id="organisation">
         
                        <label class="w3-label w3-text-blue">Location</label> 
                         <input type="text" class="w3-input w3-border"  th:field="*{location}" placeholder="e.g Masaka"  id="location"  >
         
                  <p>          
                  <input type="submit"  class="w3-btn w3-ripple w3-green" value="Save Opportunity " onclick=""> 
                      </p> 
                </form>
 
                  </div> 
  
      <th:block th:include="/fragment/footer"></th:block>  
 </body>
</html>