<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
<head >
<meta>
<!--Page Title-->
<title>Events List</title>
<!--Reference css styling-->
              <link type="text/css" th:href="@{/css/index.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/css/login.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/css/w3css.css}" rel="stylesheet"/>

    <script th:src="@{/js/index.js}"></script>
</head>
<body>

                        <th:block th:include="/fragment/header"></th:block>

                        

<div class="w3-container w3-padding-64 w3-card-4">
<header class="w3-container w3-black  w3-opacity">
  <h3>Eunding Oppotunities List</h3>
</header>
<table class="w3-table w3-striped w3-bordered ">
<thead>
<tr class="w3-blue">
  <th>No.</th>
  <th>Funder</th>
  <th>Location</th>
  <th>Organization</th>
   <th>Edit</th>
  <th>Delete</th>
</tr>
</thead>

<tbody>
                <tr th:each="fn : ${FundingOpportunitiesList}">
                 <td th:text="${fn.id}"></td>
                    <td th:text="${fn.funder}"></td>
                     <td th:text="${fn.location}"></td>
                      <td th:text="${fn.organisation}"></td>
                    <td><a class="w3-green w3-button"th:href="@{/funds/{id}(id=${fn.id})}">Edit</a></td>
                    <td><a class="w3-red w3-button" th:href="@{/funds/{id}(id=${fn.id})}">Delete</a></td>
                </tr>
            </tbody>
</table>



</div>


 <th:block th:include="/fragment/footer"></th:block>


</body>
</html>