<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
        <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--Form title-->
      <title>FUnding Opportunities</title>
    
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/queries.css">
    <script src="js/index.js"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/popper.js"></script>
  <script src="js/angular.min.js"></script>
   <script src="js/imuka.js"></script>
 <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
                
                <link type="text/css" th:href="@{/css/index.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/css/w3css.css}" rel="stylesheet"/>
  <link type="text/css" th:href="@{/css/sweetalert2.min.css}" rel="stylesheet"></link>  
    <script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
            </head>
            <body>
        <!-- Include header -->
 <th:block th:include="/fragment/_header"></th:block>
            
            <!-- Upcoming Events section -->
<!--  -->         <th:block th:include="/fragment/footer"></th:block>
 
        </body>
<!-- THIS SECTION SHOULD POPULATE THE TRAILING EVENTS PAGE  USED BY-->
      <!-- THIS BLOCK IS TO FILL FOUR COLUMNS DOWNWARDS
      
      <th:block th:with="colCount=${4}">
    <div th:each="r : ${#numbers.sequence(0, datas.size(), colCount)}"  class="row">
        <div th:each="c : ${#numbers.sequence(0, colCount - 1)}" th:if="${r + c &lt; datas.size()}" th:text="${datas.get(r + c)}" class="span3"></div>
    </div>
</th:block>


      
      <div class="row" th:each="row : ${rows}">
   <div class="span3" th:each="name : ${row.names}" th:text="${name}">Something</div>
</div>
      
      
      
      <div th:each="interest,rowStatus : ${interests}" class="row interest-featured" th:if="${rowStatus.index % 3} == 0">
    <div th:each="interest,interestStatus : ${interests}" class="col-md-4 interest" th:text="${interest}"
         th:if="${interestStatus.index lt rowStatus.index + 3 and interestStatus.index ge rowStatus.index}"></div>
  </div>
       -->
       
        
       </html>
        