<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
        <head>
                <meta charset="utf-8">
                <!--Form title-->
                <title>Training Sessions</title>
                <link type="text/css" th:href="@{/css/index.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/css/w3css.css}" rel="stylesheet"/>
  <link type="text/css" th:href="@{/css/sweetalert2.min.css}" rel="stylesheet"></link>  
    <script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
            </head>
            <body>
              
                    <!--NavBar-->

<!-- Include header -->
 <th:block th:include="/fragment/header"></th:block>


            <div  class="w3-container w3-padding-64 w3-card-4" >
              <header class="w3-container w3-black  w3-opacity">
  <h3>Training Sessions</h3>
  <a class="w3-button w3-green" th:href="@{/training/sessions}">See Training Sessions List</a>
</header>
                
                <form action="#" th:action="@{/training/}" th:object="${training}" method="post">
                
                        <h3 id="error"></h3>
                       <label class="w3-label w3-text-blue">Sector</label> 
                       <input type="text" class="w3-input w3-input w3-hover-border-teal"  th:field="*{sector}"  id="sector" >
                    <label class="w3-label w3-text-blue">Fee</label> 
                       <input type="text" class="w3-input w3-input w3-hover-border-teal"  th:field="*{fee}"  id="fee" >
                    
                    
                     <label class="w3-label w3-text-blue">Location</label> 
                       <input type="text" class="w3-input w3-input w3-hover-border-teal"  th:field="*{location}" placeholder="e.g Kampala"  id="location">
                     
                     <label class="w3-label w3-text-blue">Trainer</label>   
             <input type="text" class="w3-input w3-input w3-hover-border-teal"  th:field="*{trainer}" placeholder="e.g Mr .."  id="trainer">
         
                        <label class="w3-label w3-text-blue">Address</label> 
                         <input type="text" class="w3-input w3-input w3-hover-border-teal"  th:field="*{address}" placeholder="e.g Masaka"  id="organisation">
         
         
                        <label class="w3-label w3-text-blue">Start Date</label> 
                           <input type="date" class="w3-input w3-input w3-hover-border-teal"  th:field="*{start_date}"   id="start_date">
       
          <label class="w3-label w3-text-blue">End Date</label> 
                            <input type="date" class="w3-input w3-input w3-hover-border-teal"  th:field="*{end_date}"   id="end_date">
            
            <p>          
                  <input type="submit"  class="w3-btn w3-ripple w3-green" value="Save Session" onclick=""> 
                      </p> 
                </form>
 
                  </div> 
  
      <th:block th:include="/fragment/_footer"></th:block>  
 </body>
</html>