<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org">
<head >
<meta>
<!--Page Title-->
<title>Visit Opportunities List</title>
<!--Reference css styling-->
              <link type="text/css" th:href="@{/css/index.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/css/login.css}" rel="stylesheet"/>
<link type="text/css" th:href="@{/css/w3css.css}" rel="stylesheet"/>

    <script th:src="@{/js/index.js}"></script>
</head>
<body>

                        <th:block th:include="/fragment/header"></th:block>

                        

<div class="w3-container w3-padding-64 w3-card-4">
<header class="w3-container w3-black  w3-opacity">
  <h3>Visit Opportunities List</h3>
  
</header>
<table class="w3-table w3-striped w3-bordered ">
<thead>
<tr class="w3-blue">
  <th>No.</th>
  <th>Agent</th>
  <th>Fee</th>
  <th>Location</th>
  <th>Fee</th>
   <th>Contact</th>
  <th>Start Date</th>
  <th>End Date</th>
   <th>Edit</th>
  <th>Delete</th>
</tr>
</thead>

<tbody>
                <tr th:each="vs : ${visitOpportunitiesList}">
                 <td th:text="${vs.id}"></td>
                    <td th:text="${vs.agent}"></td>
                    <td th:text="${vs.fee}"></td>
                     <td th:text="${vs.location}"></td>
                      <td th:text="${vs.fee}"></td>
                      <td th:text="${vs.contact}"></td>
                      <td th:text="${vs.start_date}"></td>
                       <td th:text="${vs.end_date}"></td>
                    <td><a class="w3-button w3-green" th:href="@{/visit/{id}(id=${vs.id})}">Edit</a></td>
                    <td><a class="w3-button w3-red" th:href="@{/visit/{id}(id=${vs.id})}">Delete</a></td>
                </tr>
            </tbody>
</table>



</div>


 <th:block th:include="/fragment/_footer"></th:block>


</body>
</html>